html, 
body {
    height: 100%;
}

div{
	display: inline-block;
	float: left;
}

a{
	font-weight: bold;
}


#Tabs{
	width: 100%;
}

#PBI{
	width: 25%;
	height: 45%;
}

#Features{
	width: 25%;
	height: 45%;
}

#Burnchart{
	width: 50%;
	height: 45%;
}

#imgBurnChart{
	max-width:80%;
	max-height:80%;
}

#Quality{
	width: 25%;
	height: 45%;
}
#Build{
	width: 25%;
	height: 45%;
}

#BuildStatus{
	width: 50%;
	height: 45%;
}

